{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "esmodules": false
      }
    }]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error",
          "Array"
        ],
        "approximate": true
      }
    ]
  ]
}